doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    hr
    h2 Navigation:
    ul
      li
        a(href='/') Home
      li
        a(href='/page-a/') Page A
      li
        a(href='/page-b/') Page B
    h2 Language selector:
    ul
      li
        a(href='?lng=en') English
      li
        a(href='?lng=es') Spanish
    
